In [26]:
import numpy as np
import pandas as pd

In [21]:
from numpy.random import randn
np.random.seed(101)

In [10]:
ar1=[1,2,3,4,5]
ar2=['a','b','c','d','e']
ar3=pd.Series(ar1,ar2)
ar3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
ar3['e']

5

In [30]:
a=pd.DataFrame(randn(5,4),'a b c d e'.split(),'w x y z'.split())
a

          w         x         y         z
a  0.327845  0.674485 -0.174057  0.780140
b -0.383258 -0.409318  0.343539  0.196275
c -0.982776  2.231555 -0.971393 -1.522333
d  1.133703  0.528187  0.393461 -0.630507
e -1.398290 -0.219311 -0.045676  0.012421